* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 70%;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #efebe2;
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
}
.nav-list {
  display: flex;
}
.nav-list a {
  display: block;
  font-size: 3rem;
  padding: 1rem;
}
.nav-list a:hover {
  background: #b175ff;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ab0552;
  background-image: linear-gradient(68deg, #f8bcd8 0%, #ab0552, 100%);
  border-bottom: 2em solid #07040a;
}
h1 {
  color: #07040a;
  font-size: 8rem;
}
h2 {
  color: #07040a;
  font-size: 4rem;
}
h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.projects-section {
  text-align: center;
  padding: 10rem 2 rem;
  margin: 5rem;
}
#my-projects-header {
  margin-bottom: 4rem;
  text-align: center;
  color: black;
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.project-title {
  background-color: #efebe2;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border: 0.3rem solid #ab0552;
}
.project-image {
  height: 350px;
  width: 350px;
}
.project-header {
  font-size: 3rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#portfolio {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #b175ff;
  width: 100%;
  height: 20vh;
  border: 0.5em solid black;
}
.profile-link {
  border-left: 0.1em solid black;
  padding-left: 1em;
  font-size: 2.5rem;
  margin-left: 1em;
}
.profile-link:first-child {
  border-left: none;
}
.profile-link:hover {
  color: #ab0552;
}
.liveButton {
  background-color: #ab0552;
  color: #efebe2;
  height: 2.5em;
  width: 8em;
  font-size: 2rem;
}
.liveButton:hover {
  background-color: #b175ff;
}
